<section class="container">
  <h2 class="title">Categories</h2>

  <table class="table">
    <thead class="table__header">
      <th class="table__header__content">ID</th>
      <th class="table__header__content">Category</th>
      <th class="table__header__content">#</th>
    </thead>
    <tbody>
      <tr class="table__row">
        <td class="table__content">1</td>
        <td class="table__content">#</td>
        <td class="table__content"><a href="#">remove</a></td>
      </tr>
    </tbody>
  </table>
  <span>
    <a href="">New Category</a>
  </span>
</section>
