<section class="container">
  <form class="form" (ngSubmit)="registerDevice()">
    <h2 class="form__title">New Device</h2>

    <div class="form-field">
      <label class="form-field__label" for="category">Category</label>
      <select name="category" id="category" class="form-field__input" [(ngModel)]="category">
        <option *ngFor="let category of categories" value="{{ category.id }}">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="form-field">
      <label class="form-field__label" for="color">Color</label>
      <input class="form-field__input" id="color" type="text" name="color" [(ngModel)]="color" />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="partNumber">Part Number</label>
      <input
        class="form-field__input"
        id="partNumber"
        type="text"
        name="partNumber"
        [(ngModel)]="partNumber"
      />
    </div>

    <div class="btn-wrapper">
      <button class="btn" type="submit">Save Device</button>
    </div>
  </form>
</section>
