<section class="container">
  <h2 class="title">Devices</h2>

  <table class="table">
    <thead class="table__header">
      <th class="table__header__content">ID</th>
      <th class="table__header__content">Category</th>
      <th class="table__header__content">Color</th>
      <th class="table__header__content">PartNumber</th>
      <th class="table__header__content">#</th>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices" class="table__row">
        <td class="table__content">{{device.id}}</td>
        <td class="table__content">{{device.category}}</td>
        <td class="table__content">{{device.color}}</td>
        <td class="table__content">{{device.partNumber}}</td>
        <td class="table__content"><a href="#">remove</a></td>
      </tr>
    </tbody>
  </table>
  <span>
    <a routerLink="/new-device">New Device</a>

  </span>
</section>
