<section class="container">
  <form class="form" [formGroup]="formCategory" (ngSubmit)="registerCategory()">
    <h2 class="form__title">New Category</h2>

    <div class="form-field">
      <label class="form-field__label" for="category">Category</label>
      <input
        class="form-field__input"
        formControlName="category"
        type="text"
        [(ngModel)]="categoryName"
      />

    </div>
    <div *ngIf="!formCategory.valid">
      <small class="text-error">  Category name can not be empty or greater than 128 characters </small>
    </div>

    <div class="btn-wrapper">
      <button class="btn" type="submit">Save Category</button>
    </div>
  </form>
</section>
